<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/style.css?v=2">
  <script src="js/vendor/modernizr-1.7.min.js"></script>

</head>

<body>

  <div id="container">
    <header>
      <div id="header-bar">
        <div id="header-bar-inner" class="clearfix">
          <div id="header-logo">
            <h2>Masxaro</h2>
          </div>
          <nav id="header-nav">
            <ul id="header-nav-list">
              <li><a>Accounts</a></li>
              <li><a>Profile</a></li>
              <li><a>Help</a></li>
            </ul>
          </nav>
          <div id="header-user">
            <a>Username</a> | <a>Logout</a>
          </div>
        </div>
      </div>
    </header>
    <div id="main" role="main">
      <div id="content">
        <div id="user" class="clearfix">
          <div id="user-inner">
            <div><img src="img/avator.png"></img></div>
            <div id="user-flash">Hello User!</div>
          </div>
        </div>
        <div id="receipts">
          <div id="search-bar">
            <form action="" method="GET">
              <input type="text" placeholder="search" width="40px"/>
              <button type="submit" title="search"></button>
            </form>
          </div>
          <nav id="main-tabs">
            <ul class="tabs clearfix">
              <li>Recent [15]</li>
              <li>Catagory V</li>
              <li>Overview </li>
              <li style="float:right;">Sort by: Date</li>
            </ul>
          </nav>
          <table id="receipts-table">
            <thead>
              <tr>
                <th class="amount">Amount</th>
                <th class="items">Items</th>
                <th class="store">Store</th>
                <th class="date">Date</th>
              </tr>
            </thead>
          </table>
          <div class="receipts-stat">
            <span class="stat"></span>
            <button class="more">more</button>
          </div>
        </div>
      </div>
      <aside id="sidebar">
        <div style="margin:10px;width:100%;height:300px;border:1px solid rgb(94,206,116)"></div>
        <div style="margin:10px;width:100%;height:300px;border:1px solid rgb(94,206,116)"></div>
      </aside>
    </div>
    <footer>
    </footer>
  </div> <!-- eo #container -->

  <script type="text/tamplate" id="receipt-row-template">
    <td>$<%= total_cost %></td>
    <td><%= items %></td>
    <td><%= store %></td>
    <td><%= time %></td>
  </script>

  <script type="text/template" id="receipt-full-template">
    <td colspan='4' width="100%">
      <div class="receipt clearfix">
        <div class="total-cost">$<%= total_cost %></div>
        <div class="receipt-row clearfix">
          <div class="items">for <%= items %></div> 
          <div class="store">at <%= store%></div>
        </div>
        <div class="receipt-row clearfix">
          <div class="date"><%= time %></div>
        </div>
        <div class="toolbar invisible">
          show full receipt, add tags
        </div>
      </div>
    </td>
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/vendor/jquery-1.6.1.min.js'>\x3C/script>")</script>
  <script src="js/vendor/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <link rel="stylesheet" href="js/vendor/fancybox/jquery.fancybox-1.3.4.css">
  <script src="js/vendor/json2.js"></script>
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/backbone-min.js"></script>
  <script src="js/vendor/backbone-localstorage.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
