/*
 * page params
 */
$page-width : 960px;
$grid : 24;
$grid-width : $page-width / $grid;

$header-color:white;


/*
 * mixins
 */

@mixin round($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow($left,$right,$down,$color){
  box-shadow: $left $right $down $color;
  -webkit-box-shadow: $left $right $down $color;
  -moz-box-shadow: $left $right $down $color;
}

@mixin grid($grid-number){
  width: $grid-width * $grid-number;
}

@mixin transition($sec){
  -webkit-transition:all $sec ease-in-out;
  -moz-transition:all $sec ease-in-out;
  -o-transition:all $sec ease-in-out;
  -ms-transition:all $sec ease-in-out;
  transition:all $sec ease-in-out;
}

h1 { font-size: 32px;}
h2 { font-size: 28px;}
h3 { font-size: 24px;}
h4 { font-size: 20px;}

#container{
  //overflow-x:hidden;
}
html{
  min-height: 100%;
}

body{
  color:black;
  background-color:rgb(182,212,214);
  background-image: -webkit-gradient(
      linear,
      right top,
      right bottom,
      color-stop(0.25, rgb(182,212,214)),
      color-stop(0.84, rgb(123,184,179))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(182,212,214) 25%,
      rgb(123,184,179) 84%
  );
}

// header module
header{
  background-color: $header-color ;
  width:100%;
  min-width:960px;
  height:40px;
  display:block;
  text-align:center;
  position:relative;
  font-size:16px;
  #header-bar{
    margin: 0 auto;
    max-width:1000px; 
  };
  #header-bar-inner{
    left:0px;
  }
  #header-logo{
    a{color:black;}
    float:left;
    margin: 2px;
    padding: 1px;
  }
  #header-nav{
    margin-left:450px;
    float:left;
  }
  #header-nav-list li{
    float:left;
    margin: 5px 0;
    padding: 8px 15px;
    list-style:none;
  }
  #header-user{
    margin:5px 10px;
    padding: 8px 5px;
    float:right;
    right:0;
  }
  #header-user #login {
    display:none;
    label{
      padding:5px;
    }
  }
}

#main{
  width: $page-width;
  margin: 0px auto;
  text-align:center;

  #main-tab{
    text-align:center;
    font-size:18px;
    width:100%;
    margin:10px 10px 0 40px; 
    div{
      @include grid(3);
      float:left;
      padding:10px 0;
      border: 1px green solid;
      border-bottom:0;
      border-left:0;
      a{
        display:block;
        color:black;
        height:100%;
        width:100%;
      }
      &:first{
        border-left: 1px green solid;
      }
      &.active,&:hover{
        background-color: white;
      }
    }
  }

  #content{
    margin: 10px;
    text-align:left;
    float:left;
    @include grid(19);
  }

  #product-description{
    h1{font-size:60px;}
  }

  #feature div{
    margin:10px;
    padding:10px;
    text-align:left;
    p{
      font-size:18px;
    }
    img{
      float:right;
    }
  }
}

#search-bar{
  margin:0 5px;
  padding:0 5px;
  #search-query{
    font-size:18px;
    @include round(5px);
    width:250px;
    height:22px;
  }
  button{
    background-image:url(../img/search_button.png);
    background-position:0 0;
    background-color:#fff;
    width:22px;
    height:19px;
    border:0;
    padding:0;
    margin:0;
  }
  div,button{
    float:left;
    padding:5px;
  }
}


//receipt module

#receipts-table{
  width:100%;
  margin:2px;
  padding:5px;
  border-collapse: collapse;
  tr.row{
    @include transition(0.3s);
    padding: 7px;
    border-top: 1px #EBE solid;
    border-bottom: 1px #EBE solid;

    &:hover{
      background-color: #FFF;
      .toolbar{
        display:inline-block;
      }
    }

    .date{
      float:left;
      @include grid(1);
      @include round(5px);
      border:1px solid #AAA;
      margin:3px 5px;
      padding:3px;
      font-size:18px; 
      font-weight:bold;
      text-align:center;
      background-color: #FFF;
    }
    .total-cost{
      @include grid(1.5);
      float:right;
      font-size:22px;
      font-weight:bold;
      text-align:center;
      padding:5px;
      margin:5px;
    }

    .content{
      @include grid(15);
      float:left;
      .items{
        font-size:18px;
        padding:3px 5px;
        font-weight:bold;
      }
      .store{
        font-size:16px;
        padding:5px;
        color:green;
      }
    }

    //css for full receipt
    .receipt{
      background-color:white;
      position:relative;
      &:hover{
        cursor:normal;
      }
      .store{
        padding:10px;
      }
      .content{
        @include grid(17.5);
      }
      .toolbar{
        cursor:pointer;
      }
      .close{
        background:url(../img/close-icon.png) top no-repeat;
        width:34px;
        height:34px;
        background-position:0 0;
        position:absolute;
        top:0;
        right:0;
      }
      .delete-button{
        background:url(../img/tag-close-icon.png) top no-repeat;
        background-position:0 0;
        display:inline-block;
        width:20px;
        height:15px;

      }
      .editing .edit{
        display: inline-block;
      }
      .editing .tags{
        display:none;
      }
      .edit{
        display:none;
      }
    }  
  }
}

div.receipt-item{
  font-size:18px;
  padding:2px;
  margin:3px;
  .item_name{
    width:300px;
  }
  .item_qty{
    float:right;
    padding-right:100px;
  }
  .item_price{
    float:right;
    font-size:20px;
    font-weight:bold;
  }
}
#receipts-table .editing{
}

//product.php page
#main{
  #register{
    font-size:18px;
    margin:10px;
    margin-top:100px;
    padding:5px;
    float:left;
    width:450px;
    line-height:22px;
    td{
      padding:5px;
      text-align:left;
    }
    input{
      border:0;
      border-radius:10px;
      height:22px;
    }
  }
  #product-description{
    float:left;
    margin-top:110px;
    padding:5px;
  }
}

footer{
  text-align:center;
  display:block;
  margin:30px auto;
  width:400px;
  .footer-content div{
    float:left;
    padding:10px;
  }
}

#action-bar{
  @include grid(4);
  padding:15px 0;
  float:left;
  min-height:800px;
  border-right:1px green solid;
  .active{
    background-color:#FFF;
  }
  li{
    margin:0;
    padding:0;
    cursor:pointer;
    font-size:16px;
    height:30px;
    line-height:20px;
    &:hover{
      background-color:#FFF;
    }
    a{
      color:black;
      padding:3px;
      display:block;
      width:100%;
      height:100%;
    }
  }
}

.tags .tag{
  @include round(5px);
  background-color: rgb(94,206,116);
  padding:2px 4px;
  margin-left: 5px;
  font-weight:bold;
  font-size:14px;
  color: #FFF; 
  z-index:10;
  &:hover{
    background-color: rgb(94,106,56);
  }
  a{
    &:link, &:visited {color: #FFF}
    &:hover{ color: #FFF; }
    color: #FFF; 
  }
}
.edit-button{
  cursor:pointer;
}
.separator{
  border-top:1px black solid;
  margin:0;
}

//boards setting:

#receipts-view{
  display:none;
}

#dashboard-view{
  display:none;
}

#boards.receipts-view #receipts-view{
  display:block;
}

#boards.dashboard-view #dashboard-view{
  display:block;
}

#dashboard-view{
  width:100%;
  a{color:black;}
  padding-top:25px;
  border-top:1px solid green;
  .launch-icon{
    float:left;
    width:200px;
    height:200px;
    border-radius:2em;
    border:10px #FFF solid;
    margin:10px;
  }
  img{margin:3px;}
}
