/*
 * page params
 */
$page-width : 960px;
$grid : 24;
$grid-width : $page-width / $grid;

/*
 * mixins
 */

@mixin round($radius){
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow($left,$right,$down,$color){
  box-shadow: $left $right $down $color;
  -webkit-box-shadow: $left $right $down $color;
  -moz-box-shadow: $left $right $down $color;
}

@mixin grid($grid-number){
  width: $grid-width * $grid-number;
}

@mixin transition($sec){
  -webkit-transition:all $sec ease-in-out;
  -moz-transition:all $sec ease-in-out;
  -o-transition:all $sec ease-in-out;
  -ms-transition:all $sec ease-in-out;
  transition:all $sec ease-in-out;
}

h1 { font-size: 32px;}
h2 { font-size: 28px;}
h3 { font-size: 24px;}

#container{
  overflow-x:hidden;
}

// header module
header{
  background-color: rgb(94,206,116);
  width:100%;
  min-width:960px;
  height:40px;
  display:block;
  text-align:center;
  position:relative;
  #header-bar{
    margin: 0 auto;
    max-width:1000px; 
  };
  #header-bar-inner{
    left:0px;
  }
  #header-logo{
    color: #FFF;
    float:left;
    margin: 2px;
    padding: 1px;
  }
  #header-nav{
    margin-left:500px;
    float:left;
  }
  #header-nav-list li{
    float:left;
    margin: 5px 0;
    padding: 8px 15px;
    list-style:none;
  }
  #header-user{
    margin:5px 10px;
    padding: 8px 5px;
    float:right;
    right:0;
  }

  #header-user #login label{
    padding:5px;
  }
}

#main{
  width: $page-width;
  margin: 0px auto;
  text-align:center;

  #main-tab{
    text-align:center;
    text-size:22px;
    width:100%;
    margin:10px;
    div{
      @include grid(2);
      float:left;
      padding:10px 0;
      border: 1px #AAA solid;
      border-bottom:0;
      cursor:pointer;
      &.active,&:hover{
        background-color: rgb(94,206,176);
      }
    }
  }

  #content{
    margin: 10px;
    text-align:left;
    float:left;
    @include grid(19);
  }

  #feature div{
    float:left;
    width:28%;
    margin:10px;
    padding:10px;
  }
}

#search-bar{
  margin:0 5px;
  padding:0 5px;
  input{
    font-size:18px;
    @include round(5px);
    width:250px;
    height:22px;
  }
  button{
    background-image:url(../img/search_button.png);
    background-position:0 0;
    background-color:#fff;
    width:22px;
    height:19px;
    border:0;
    padding:0;
    margin:0;
  }
  div{
    float:left;
    padding:5px;
  }
}

//receipt module


#receipts-table{
  width:100%;
  margin:2px;
  padding:5px;
  border-collapse: collapse;
  tr.row{
    @include transition(0.3s);
    padding: 7px;
    border-top: 1px #EBE solid;
    border-bottom: 1px #EBE solid;

    &:hover{
      background-color: #FEE;
      .toolbar{
        display:block;
      }
    }

    .date{
      float:left;
      @include grid(1);
      @include round(5px);
      border:1px solid #AAA;
      margin:3px 5px;
      padding:3px;
      font-size:18px; 
      font-weight:bold;
      text-align:center;
    }
    .total-cost{
      @include grid(1.5);
      float:right;
      font-size:22px;
      font-weight:bold;
      text-align:center;
      padding:5px;
      margin:5px;
    }

    .content{
      @include grid(15);
      float:left;
      .items{
        font-size:18px;
        padding:3px 5px;
        font-weight:bold;
      }
      .store{
        font-size:16px;
        padding:5px;
        color:green;
      }
    }

    //css for full receipt
    .receipt{
      position:relative;
      &:hover{
        cursor:normal;
        .toolbar{
          display:block;
        }
      }
      .store{
        padding:10px;
      }
      .content{
        @include grid(17.5);
      }
      .toolbar{
        position:absolute;
        top:0;
        right:0;
        display:none;
        cursor:pointer;
      }
    }  
  }
}

div.receipt-item{
  font-size:18px;
  padding:2px;
  margin:3px;
  .edit{
    display:none;
  }
  .item_name{
    width:300px;
  }
  .item_qty{
    float:right;
    padding-right:100px;
  }
  .item_price{
    float:right;
    font-size:20px;
    font-weight:bold;
  }
}
#receipts-table .editing{
  .edit{
    display: inline-block;
  }
  .display{
    display: none;
  }
}

//product.php page
#main{
  #register{
    margin:10px;
    margin-top:100px;
    padding:5px;
    float:left;
    width:400px;
    td{
      padding:5px;
    }
  }
  #product-description{
    float:left;
    margin:10px;
    margin-top:100px;
    padding:5px;
  }
}

footer{
  margin:0 auto;
  text-align:center;
}

#action-bar{
  @include grid(4);
  padding:15px 0;
  float:left;
  min-height:800px;
  border-right:1px green solid;
  .active{
    background-color:rgb(94,206,176);
  }
  li{
    margin:0;
    padding:0;
    font-size:16px;
    height:30px;
    line-height:20px;
    &:hover{
      background-color:#CCC;
    }
    a{
      padding:3px;
      display:block;
      width:100%;
      height:100%;
      text-decoration:none;
    }
  }
}

.tags .tag{
  @include round(5px);
  background-color: rgb(94,206,116);
  padding:2px 4px;
  margin-left: 5px;
  font-weight:bold;
  font-size:14px;
  color: #FFF; 
  &:hover{
    background-color: rgb(94,106,56);
  }
  a{
    &:link, &:visited {color: #FFF}
    &:hover{ color: #FFF; }
    color: #FFF; 
  }
}

