/*
 * page params
 */
/*
 * mixins
 */
h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

html {
  min-height: 100%; }

body {
  color: black;
  background-color: #b6d4d6;
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0.25, #b6d4d6), color-stop(0.84, #7bb8b3));
  background-image: -moz-linear-gradient(center top, #b6d4d6 25%, #7bb8b3 84%); }

header {
  background-color: white;
  width: 100%;
  min-width: 960px;
  height: 40px;
  display: block;
  text-align: center;
  position: relative;
  font-size: 16px; }
  header #header-bar {
    margin: 0 auto;
    max-width: 1000px; }
  header #header-bar-inner {
    left: 0px; }
  header #header-logo {
    float: left;
    margin: 2px;
    padding: 1px; }
    header #header-logo a {
      color: black; }
  header #header-nav {
    margin-left: 450px;
    float: left; }
  header #header-nav-list li {
    float: left;
    margin: 5px 0;
    padding: 8px 15px;
    list-style: none; }
  header #header-user {
    margin: 5px 10px;
    padding: 8px 5px;
    float: right;
    right: 0; }
  header #header-user #login {
    display: none; }
    header #header-user #login span {
      position: relative; }
    header #header-user #login label {
      padding: 5px; }
    header #header-user #login label.error {
      color: red;
      position: absolute;
      left: 90px;
      top: 20px; }

#main {
  width: 960px;
  margin: 0px auto;
  text-align: center; }
  #main #main-tab {
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin: 10px 10px 0 39px; }
    #main #main-tab div {
      width: 120px;
      float: left;
      padding: 10px 0;
      border: 1px green solid;
      border-bottom: 0;
      border-left: 0; }
      #main #main-tab div a {
        display: block;
        color: black;
        height: 100%;
        width: 100%; }
      #main #main-tab div:first-child {
        border-left: 1px green solid; }
      #main #main-tab div.active, #main #main-tab div:hover {
        background-color: white; }
  #main #content {
    margin: 10px;
    text-align: left;
    float: left;
    width: 760px; }
  #main #product-description h1 {
    font-size: 60px; }
  #main #feature div {
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px green solid; }
    #main #feature div h2 {
      padding: 10px 0; }
    #main #feature div p {
      font-size: 18px; }
    #main #feature div img {
      float: right; }

#search-bar {
  margin: 0 5px;
  padding: 0 5px; }
  #search-bar #search-query {
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 250px;
    height: 22px; }
  #search-bar button {
    background-image: url(../img/search_button.png);
    background-position: 0 0;
    background-color: #fff;
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
    margin: 0; }
  #search-bar div, #search-bar button {
    float: left;
    padding: 5px; }

#receipts-table {
  width: 100%;
  margin: 2px;
  padding: 5px;
  border-collapse: collapse; }
  #receipts-table tr.row {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 7px;
    border-top: 1px #EBE solid;
    border-bottom: 1px #EBE solid; }
    #receipts-table tr.row:hover {
      background-color: #FFF; }
      #receipts-table tr.row:hover .toolbar {
        display: inline-block; }
    #receipts-table tr.row .date {
      float: left;
      width: 40px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #AAA;
      margin: 3px 5px;
      padding: 3px;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      background-color: #FFF; }
    #receipts-table tr.row .total-cost {
      width: 60px;
      float: right;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      margin: 5px; }
    #receipts-table tr.row .content {
      width: 600px;
      float: left; }
      #receipts-table tr.row .content .items {
        font-size: 18px;
        padding: 3px 5px;
        font-weight: bold; }
      #receipts-table tr.row .content .store {
        font-size: 16px;
        padding: 5px;
        color: green; }
    #receipts-table tr.row .receipt {
      background-color: white;
      position: relative; }
      #receipts-table tr.row .receipt:hover {
        cursor: normal; }
      #receipts-table tr.row .receipt .store {
        padding: 10px; }
      #receipts-table tr.row .receipt .content {
        width: 700px; }
      #receipts-table tr.row .receipt .toolbar {
        cursor: pointer; }
      #receipts-table tr.row .receipt .close {
        background: url(../img/close-icon.png) top no-repeat;
        width: 34px;
        height: 34px;
        background-position: 0 0;
        position: absolute;
        top: 0;
        right: 0; }
      #receipts-table tr.row .receipt .delete-button {
        background: url(../img/tag-close-icon.png) top no-repeat;
        background-position: 0 0;
        display: inline-block;
        width: 20px;
        height: 15px; }
      #receipts-table tr.row .receipt .editing .edit {
        display: inline-block; }
      #receipts-table tr.row .receipt .editing .tags {
        display: none; }
      #receipts-table tr.row .receipt .edit {
        display: none; }

div.receipt-item {
  font-size: 18px;
  padding: 2px;
  margin: 3px; }
  div.receipt-item .item_name {
    width: 300px; }
  div.receipt-item .item_qty {
    float: right;
    padding-right: 100px; }
  div.receipt-item .item_price {
    float: right;
    font-size: 20px;
    font-weight: bold; }

#main #register {
  font-size: 18px;
  margin: 10px;
  margin-top: 100px;
  padding: 5px;
  float: left;
  width: 450px;
  line-height: 22px; }
  #main #register td {
    position: relative;
    padding: 5px;
    text-align: left; }
  #main #register input {
    border: 0;
    border-radius: 10px;
    height: 22px; }
#main #product-description {
  float: left;
  margin-top: 110px;
  padding: 5px; }
#main label.error {
  color: red;
  position: absolute;
  left: 7px;
  top: 18px; }

footer {
  text-align: center;
  display: block;
  margin: 30px auto;
  width: 400px; }
  footer .footer-content div {
    float: left;
    padding: 10px; }

#action-bar {
  width: 160px;
  padding: 15px 0;
  float: left;
  min-height: 800px;
  border-right: 1px green solid; }
  #action-bar .active {
    background-color: #FFF; }
  #action-bar li {
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    line-height: 20px; }
    #action-bar li:hover {
      background-color: #FFF; }
    #action-bar li a {
      color: black;
      padding: 3px;
      display: block;
      width: 100%;
      height: 100%; }

.tags .tag {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #5ece74;
  padding: 2px 4px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  z-index: 10; }
  .tags .tag:hover {
    background-color: #5e6a38; }
  .tags .tag a {
    color: #FFF; }
    .tags .tag a:link, .tags .tag a:visited {
      color: #FFF; }
    .tags .tag a:hover {
      color: #FFF; }

.edit-button {
  cursor: pointer; }

.separator {
  border-top: 1px black solid;
  margin: 0; }

#receipts-view {
  display: none; }

#dashboard-view {
  display: none; }

#boards.receipts-view #receipts-view {
  display: block; }

#boards.dashboard-view #dashboard-view {
  display: block; }

#dashboard-view {
  width: 100%;
  padding-top: 25px;
  border-top: 1px solid green; }
  #dashboard-view a {
    color: black; }
  #dashboard-view .launch-icon {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 2em;
    border: 10px #FFF solid;
    margin: 10px; }
  #dashboard-view img {
    margin: 3px; }

.accounts-view nav {
  width: 320px;
  display: block;
  float: left;
  margin-top: 40px; }
.accounts-view .boards {
  width: 640px;
  float: left;
  text-align: left; }
  .accounts-view .boards .content {
    padding: 40px; }
  .accounts-view .boards .admin, .accounts-view .boards .preference, .accounts-view .boards .credit, .accounts-view .boards .email {
    display: none; }
