/*
 * page params
 */
/*
 * mixins
 */
h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

header {
  background-color: #5ece74;
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  position: relative; }
  header #header-bar {
    margin: 0 auto;
    max-width: 1000px; }
  header #header-bar-inner {
    left: 0px; }
  header #header-logo {
    color: #FFF;
    float: left;
    margin: 2px;
    padding: 1px; }
  header #header-nav {
    margin-left: 500px;
    float: left; }
  header #header-nav-list li {
    float: left;
    margin: 5px 0;
    padding: 8px 15px;
    list-style: none; }
  header #header-user {
    margin: 5px 10px;
    padding: 8px 5px;
    float: right;
    right: 0; }
  header #header-user #login label {
    padding: 5px; }

#main {
  max-width: 960px;
  margin: 0px auto;
  text-align: center; }
  #main #content {
    margin: 10px;
    text-align: left;
    float: left;
    width: 760px; }
  #main #feature div {
    float: left;
    width: 28%;
    margin: 10px;
    padding: 10px; }

#search-bar {
  margin: 0 5px;
  padding: 0 5px; }
  #search-bar input {
    font-size: 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 250px;
    height: 22px; }
  #search-bar button {
    background-image: url(../img/search_button.png);
    background-position: 0 0;
    background-color: #fff;
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
    margin: 0; }

.receipt {
  padding: 3px;
  width: 100%; }
  .receipt .items {
    font-size: 18px;
    font-weight: bold; }
    .receipt .items div {
      border: 1px solid green;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px; }
  .receipt .total-cost {
    text-align: left;
    font-size: 26px;
    padding: 3px; }
  .receipt .toolbar {
    display: none;
    float: right;
    right: 0px;
    bottom: 0px; }

#receipts-table {
  width: 100%;
  margin: 2px;
  padding: 5px;
  border-collapse: collapse; }
  #receipts-table tr.row {
    padding: 7px;
    border-top: 1px #EBE solid;
    border-bottom: 1px #EBE solid; }
    #receipts-table tr.row:hover {
      cursor: pointer;
      background-color: #EBE; }
      #receipts-table tr.row:hover .toolbar {
        display: block; }
    #receipts-table tr.row .date {
      float: left;
      width: 40px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border: 1px solid #AAA;
      margin: 3px 5px;
      padding: 3px;
      font-size: 18px;
      font-weight: bold;
      text-align: center; }
    #receipts-table tr.row .total-cost {
      width: 60px;
      float: right;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      padding: 5px;
      margin: 5px; }
    #receipts-table tr.row .content {
      width: 600px;
      float: left; }
      #receipts-table tr.row .content .items {
        font-size: 18px;
        padding: 3px 5px;
        font-weight: bold; }
      #receipts-table tr.row .content .store {
        font-size: 16px;
        padding: 5px;
        color: green; }
  #receipts-table td.items {
    text-align: left; }

#main #register {
  margin: 10px;
  margin-top: 100px;
  padding: 5px;
  float: left;
  width: 400px; }
  #main #register td {
    padding: 5px; }
#main #product-description {
  float: left;
  margin: 10px;
  margin-top: 100px;
  padding: 5px; }

footer {
  margin: 0 auto;
  text-align: center; }

.item {
  font-size: 16px;
  margin: 3px;
  padding-left: 60px; }

.total_cost {
  float: left; }

#action-bar {
  width: 160px;
  padding: 15px 0;
  float: left;
  height: 1000px;
  border-right: 1px green solid; }
  #action-bar .active {
    background-color: #5eceb0; }
    #action-bar .active:hover {
      background-color: #5eceb0; }
  #action-bar li {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 30px;
    line-height: 20px; }
    #action-bar li:hover {
      background-color: #CCC; }
    #action-bar li a {
      padding: 3px;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none; }
