Package: libnfc-pn53x-examples
Source: libnfc
Version: 1.4.2-0
Architecture: i386
Maintainer: Romuald Conty <rconty@il4p.fr>
Installed-Size: 220
Depends: libnfc0
Section: devel
Priority: optional
Homepage: http://www.libnfc.org/
Description: Near Field Communication examples for PN53x chips only
 Some PN53x-only examples are provided with libnfc for debugging and/or educational purpose (pn53x-sam, pn53x-tamashell, etc.).
